.link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  position: relative;
  transition: all 0.3s ease;
  overflow: hidden;
  --line-color: black;
}

.link-box a {
  text-decoration: none;
  color: inherit;
}

@keyframes lineToCircle {
  0% {
    opacity: 0;
    width: 100%;
    height: 2px;
  }
  33% {
    opacity: 1;
    width: 100%;
    height: 2px;
  }
  66% {
    opacity: 1;
    width: 8px;
    height: 2px;
  }
  100% {
    opacity: 1;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.link-box::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 100%;
  height: 2px;
  opacity: 0.2;
  background-color: var(--line-color);
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

.link-box:hover::after {
  animation: lineToCircle 0.6s ease forwards;
  bottom: 0;
}
